body {
    padding: 0;
    margin: 0;
    font-family: Helveitca, Arial, Helvetica, sans-serif;
}

#logo {
    margin-top: 8px;
    margin-right: 8px;
    width: 100px;
    float: left;
}

#topbar {
    width: 1000px;
    margin: 0 auto;
    height: 40px;
}

.topbar-section {
    float: left;
    border-left: 1px #CCCCCC solid;
    height: 100%;
}

#signin-image {
    margin: 8px 15px;
    width: 40px;
    float: left;
}

#signin-text {
    font-weight: bold;
    font-size: 90%;
    position: relative;
    top: 13px;
}